<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<!-- 공통 정보  -->
	<th:block th:fragment="config">
	    <script src="/assets/js/color-modes.js"></script>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	    <link rel="shortcut icon" href="/images/icon.png" />
	    <link rel="apple-touch-icon" href="/images/icon.png" />
	
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
	    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="/css/client/common.css" />
	    <link href="/css/client/sticky-footer-navbar.css" rel="stylesheet">
	    <link href="/css/client/button.css" rel="stylesheet">
	    <script src="/js/jquery-3.7.1.min.js"></script>
	    <script>
	        $(document).ready(function() {
	            $('#logoutBtn').on('click', function() {
	                $.ajax({
	                    url: '/auth/logout',
	                    type: 'POST',
	                    success: function() {
	                        window.location.href = '/auth/login';
	                    },
	                    error: function(xhr, status, error) {
	                        console.error('Logout error:', status, error);
	                    }
	                });
	            });
	        });
	    </script>
	</th:block>
	
	
	<!-- 상단 navbar  -->
	<th:block th:fragment="header">
	    <header class="top-bar">
	        <div class="container">
	            <a href="/" class="logo-link">
	                <h1 class="logo">SpaceHub</h1>
	            </a>
	            <nav class="top-nav">
	                <ul>
	                    <li><a href="/">홈</a></li>
	                    <li><a href="/space">공간탐색</a></li>
	                    <li><a href="/reservation/resList">예약내역</a></li>
	                    <li><a href="/notice/noticeList">공지</a></li>
	                    <li><a href="#">문의</a></li>
	                    <li><a href="/myPage">마이페이지</a></li>
	                    <li th:if="${!loggedIn}">
	                        <button class="btn-primary" onclick="window.location.href='/auth/login'">로그인</button>
	                    </li>
	                    <li th:if="${loggedIn}">
	                        <button class="btn-primary" id="logoutBtn">로그아웃</button>
	                    </li>
	                </ul>
	            </nav>
	        </div>
	    </header>
	</th:block>

	<!-- footer  -->
	<th:block th:fragment="footer">
		<footer>
	        <div class="container">
	            <div class="footer-links">
	                <a href="#">개인정보 처리방침</a>
	                <a href="#">이용약관</a>
	                <a href="#">사이트맵</a>
	            </div>
	            <p>&copy; 2024 SpaceHub. All rights reserved.</p>
	            <div class="social-media">
	                <a href="#"><img src="https://source.unsplash.com/random/24x24?facebook" alt="Facebook"></a>
	                <a href="#"><img src="https://source.unsplash.com/random/24x24?twitter" alt="Twitter"></a>
	                <a href="#"><img src="https://source.unsplash.com/random/24x24?instagram" alt="Instagram"></a>
	            </div>
	        </div>
	    </footer>
	</th:block>
	
</html> 