<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>SpaceHub - 공간리스트</title>
	
	    <th:block th:insert="~{template/admin/fragments/adminNav :: config}"></th:block>
	
	    <link rel="stylesheet" href="/css/admin/space/adminSpaceList.css">
	</head>
	<body>
	    <div class="wrapper">
	        <div class="admin-nav">
	            <th:block th:insert="~{template/admin/fragments/adminNav :: admin-nav}"></th:block>
	        </div>
	
	        <div class="main-content">
	            <div class="container">
	                <header class="text-center">
	                    <h2 th:if="${spaceImgs != null}" th:text="'공간 대여 리스트 (' + ${#lists.size(spaceImgs)} + ')'">공간 대여 리스트</h2>
	                </header>

	                          
	                <div class="row" id="List">
	                    <div th:if="${spaceList == null or spaceList.isEmpty()}" class="no-spaces">
	                        <p>등록된 공간이 없습니다.</p>
	                    </div>
	
	                    <div class="col item" th:each="space : ${spaceList}">
	                        <div class="card">
	                        	
	                            <a th:href="@{'/admin/space/' + ${space.spNo}}" class="space-link">
	                                <img th:src="@{/admin/space/view/} + *{'s_'+spImg}" alt="공간 이미지" class="card-img"/>
	                            </a>
	                        	<!-- <a th:href="@{'/admin/space/' + ${space.spNo}}" class="space-link">
								    <img th:src="@{/admin/space/view/s_} + ${spImg}" alt="공간 이미지" class="card-img"/>
								</a> -->
	                         	<!-- <th:block th:each="img : ${spaceImgs}">
									<img th:src="@{/admin/space/view/} + ${img.spImg}" />
								</th:block> -->
	                            <div class="card-body">
	                                <h4 class="card-title" th:text="${space.spName}"></h4>
	                                
	                            </div>
	                            <ul class="list-group">
	                                <li class="list-group-item" th:text="${space.spKeyword}"></li>
	                                <li class="list-group-item" th:text="${space.spCapacity}"></li>
	                                <li class="list-group-item" th:text="${space.spHourPrice} + '원/시간'"></li>
	                                <li class="list-group-item" th:text="'조회수 ' + ${space.spHit}"></li>
	                            </ul>
	                        </div>
	                    </div>
	
	                    <div class="text-end">
	                        <form class="text-end">
	                        	<a th:href="@{/admin/space/insertForm}" class="space-insertForm">
		                            <button type="button" id="insertFormBtn" class="btn-success">공간 추가</button>
		                        </a>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	</body>
</html>
