<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
<head>
	<th:block th:insert="~{template/admin/fragments/adminNav :: config}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub 관리자</title>
    <link rel="stylesheet" href="/css/admin/memberManage/memberDetail.css">
</head>
	
<body>
    <div class="wrapper">
        <!-- 왼쪽 네비게이션 (공통) -->
        <div class="mb-auto">
	        <th:block th:insert="~{template/admin/fragments/adminNav :: admin-nav}"></th:block>
	    </div>
	    <div class="main-content">
	        <!-- 회원 정보를 찾을 수 없는 경우 -->
	        <div th:if="${!state}">
	            <p th:text="${message}"></p>
	        </div>
	
	        <!-- 회원 정보를 찾을 수 있는 경우 -->
	        <div th:if="${state}">
	        	<div id="detail">
            		<h1>회원 상세 정보</h1>
					<p>회원번호: <span th:text="${member.memberNo}"></span></p>
		            <p>아이디: <span id="memberId" th:text="${member.memberId}"></span></p>
		            <p>이름: <span th:text="${member.memberName}"></span></p>
		            <p>이메일: <span id="memberEmail" th:text="${member.memberEmail}"></span></p>
		            <p>전화번호: <span id="memberPhone" th:text="${member.memberPhone}"></span></p>
		            <p>가입일자: <span th:text="${formattedDate_create}"></span></p>
		            <p>상태: <span th:text="${member.memberState}"></span></p>
		            <p>탈퇴일자:<span th:text="${formattedDate_update}"></span></p>
	            </div>
	            <div class="buttons">
				    <button type="button" class="btn-second" id="memberListBtn">목록</button>
				    <th:block th:if="${member.memberState != 'delete'}">
				    	<button type="button" class="btn-danger" id="memberDeleteBtn">회원 삭제</button>       
					</th:block>
				</div>
	        </div>
		</div>
    </div>
    
	<script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/admin/memberManage/memberDetail.js"></script>
</body>
</html>
