<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>결제 완료</title>
    <th:block th:insert="~{template/client/fragments/block :: config}"></th:block>
    <meta name="theme-color" content="#712cf9">
    <link href="/css/cover.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="/css/client/payment/complete.css" />
</head>
<body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <!-- header -->
        <th:block th:insert="~{template/client/fragments/block :: header}"></th:block>

        <main class="container">
            <div class="text-center">
                <div class="success-icon">
                    <i class="bi bi-check-circle-fill"></i> <!-- Bootstrap icon -->
                </div>
                <div class="complete-message">
                    결제가 성공적으로 완료되었습니다!
                </div>
                <div class="payment-info">
                    <p>결제 금액: <span th:text="${payment.payAmount}"></span>원</p>
                    <p>결제일: <span th:text="${payment.payCreatedAt}"></span></p>
                    <p>결제 방식: <span th:text="${payment.payMethod}"></span></p>
                </div>
                <a href="/" class="btn btn-primary btn-home">홈으로</a>
                	
            </div>
        </main>
        
        <th:block th:insert="~{template/client/fragments/block :: footer}"></th:block>

    </div>
    
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
</body>
</html>
