
.btn-primary {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    padding: 10px 25px; /* 위아래와 좌우 여백 조정, 내비게이션 메뉴와 비슷하게 설정 */
    background-color: #F7F7F7;
    border-radius: 8px; /* 버튼 모서리 둥글게 */
    color: #FFB347; /* 버튼 텍스트 색상 */
    text-decoration: none;
    font-weight: 700; /* 네비게이션 메뉴와 동일한 두께 */
    font-size: 18px; /* 네비게이션 메뉴와 동일한 크기 */
    font-family: 'Montserrat', sans-serif; /* 글씨체 설정 */
    line-height: 1.5; /* 텍스트 수직 정렬 개선 */
    text-align: center; /* 텍스트 가운데 정렬 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 배경색과 transform 애니메이션 추가 */
    border: none; /* 기본 버튼 테두리 제거 */
    cursor: pointer; /* 포인터 커서 추가 */
}

/* 버튼 hover 상태 */
.btn-primary:hover {
    background-color: #003366; /* 연한 하늘색 */
}