/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* 컨테이너 스타일 */
.container-findPwd {
	min-height: 460px;
    max-width: 600px;
    margin: 50px auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 제목 스타일 */

/* 아이디 표시 텍스트 스타일 */
p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* 폼 액션 버튼 중앙 정렬 */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 추가 */
}

