/* 전체 컨테이너 스타일 */
.reservation-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 50px auto; /* 위쪽과 아래쪽 여백 추가 */
    font-size: 20px; /* 전체적으로 글자 크기 확대 */
}

/* 각 섹션을 카드 형태로 스타일링 */
.reservation-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: inherit; /* 상위 컨테이너의 글자 크기 상속 */
}

/* 예약 인원과 결제 금액을 같은 줄에 표시 */
.inline-info {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 두 요소의 수직 높이를 동일하게 맞춤 */
    margin-top: 10px;
}

.inline-info p {
    font-size: 1.2em; /* 글자 크기를 조금 더 키움 */
    margin: 0;
    line-height: 1.5em; /* 모든 텍스트의 높이를 동일하게 설정 */
    display: flex; /* 플렉스박스를 사용하여 요소들이 중앙에 정렬되도록 함 */
    align-items: center;
}

/* 결제 금액 스타일 */
.highlighted-amount {
    text-align: right; /* 결제 금액을 오른쪽으로 정렬 */
    font-size: 1.5em; /* 글자 크기를 크게 해서 강조 */
    font-weight: bold; /* 글씨를 굵게 해서 강조 */
    color: black; /* 글자 색상 설정 */
    padding-bottom: 0; /* 아래쪽 여백을 제거하여 수평 정렬을 유지 */
}

.required {
    color: red;
    font-weight: bold;
}

/* 공간 이름은 전체 너비 차지 */
.full-width {
    width: 100%;
    margin-bottom: 10px;
    font-size: inherit; /* 상위 컨테이너의 글자 크기 상속 */
}

/* 예약 시작 시간과 사용 시간은 한 줄에 나란히 배치 */
.time-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 예약 시작 시간과 사용 시간의 텍스트 */
.time-section p {
    width: 48%;
    margin-bottom: 10px;
    font-size: inherit; /* 상위 컨테이너의 글자 크기 상속 */
}

.payment-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.payment-buttons button {
    flex: 1 1 calc(50% - 15px);
    padding: 0;
    background-color: white; /* 버튼 색상을 흰색으로 */
    border: 2px solid #ccc; /* 회색 테두리 */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 90%;
    height: 80px; /* 버튼 높이를 줄임 */
    overflow: hidden;
}
#tosspay img{
	object-fit: cover; /* 이미지가 버튼 안에 꽉 차도록 */
	 width: 50%; /* 이미지 크기를 더 줄임 */
    height: 70%;
}
.payment-buttons button img {
    width: 30%; /* 이미지 크기를 더 줄임 */
    height: 50%;
    display: block;
    margin: 0 auto; /* 이미지가 중앙에 배치되도록 */
}

.payment-buttons button:hover {
    border-color: #888; /* 호버 시 테두리 색상을 진하게 */
}



/* 예약자 정보 입력칸 스타일 */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 체크박스와 레이블 스타일 */
.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.terms {
    margin-bottom: 20px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
}

.terms-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow-y: scroll;
    font-size: 14px;
    line-height: 1.5;
}


