<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto">
<head>
    <th:block th:insert="~{template/client/fragments/block :: config}"></th:block>
    <meta name="theme-color" content="#712cf9">
    <title>SpaceHub</title>
    <link href="/css/client/main.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="/css/client/auth/findIdResult.css">
</head>
<body class="d-flex flex-column h-100">
    <header th:insert="~{template/client/fragments/block :: header}"></header>
    <main class="flex-shrink-0 mt-5">
	    <div class="container-findId">
	        <p>고객님의 아이디는 <span th:text="${memberId}">[아이디]</span>입니다.</p>
	        <div class="form-actions">
	            <button type="button" id="findIdPwdBtn" class="btn-second">비밀번호 찾기</button>
	            <button type="button" id="loginFormBtn" class="btn-second">로그인 화면으로 이동</button>
	        </div>
	    </div>
    </main>
    <footer th:insert="~{template/client/fragments/block :: footer}" class="mt-auto"></footer>
    
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script>
	    $("#findIdPwdBtn").on("click", function(){
	        locationProcess("/auth/findIdPwdForm");
	    });
	
	    $("#loginFormBtn").on("click", function(){
	        locationProcess("/auth/login");
	    });
    </script>
</body>
</html>
