<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
<body>
    <h1>Signup Form</h1>
    <form th:action="@{/auth/signup}" method="post">
        <label for="memberName">Name:</label>
        <input type="text" id="memberName" name="memberName" th:value="${member.memberName}" required /><br />

        <label for="memberId">ID:</label>
        <input type="text" id="memberId" name="memberId" th:value="${member.memberId}" required /><br />

        <label for="memberPassword">Password:</label>
        <input type="password" id="memberPassword" name="memberPassword" required /><br />

        <label for="memberEmail">Email:</label>
        <input type="email" id="memberEmail" name="memberEmail" th:value="${member.memberEmail}" /><br />

        <label for="memberPhone">Phone:</label>
        <input type="text" id="memberPhone" name="memberPhone" th:value="${member.memberPhone}" /><br />

        <button type="submit">Signup</button>
    </form>
</body>
</html>
