<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub 관리자</title>
    <link rel="stylesheet" href="/css/admin/inquiry/AnswerInquiryDetail.css">
    <th:block th:insert="~{template/admin/fragments/adminNav :: config}"></th:block>
</head>
<body>
    <div class="wrapper">
        <!-- 왼쪽 네비게이션 (공통) -->
        <div class="mb-auto">
            <th:block th:insert="~{template/admin/fragments/adminNav :: admin-nav}"></th:block>
        </div>

        <div class="main-content">
            <div class="container" th:object="${detail}">
                <div class="text-center mb-4">
                    <h3>게시판 답변 상세</h3>
                </div>

                <form id="dataForm">
                    <input type="text" name="inqNo" id="inqNo" th:value="*{inqNo}" readonly="readonly"/>
                </form>

                <!-- 문의자 정보 -->
                <div class="row mb-4">
                    <label class="col-md-3 col-form-label">문의자</label>
                    <div class="col-md-9" th:text="*{member.memberName}"></div>
                </div>

                <!-- 문의 날짜 -->
                <div class="row mb-4">
                    <label class="col-md-3 col-form-label">작성일</label>
                    <div class="col-md-9" th:text="*{#temporals.format(inqDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>

                <!-- 제목 -->
                <div class="row mb-4">
                    <label class="col-md-3 col-form-label">제목</label>
                    <div class="col-md-9" th:text="*{inqTitle}"></div>
                </div>

                <!-- 글내용 -->
                <div class="row mb-4">
                    <label class="col-md-3 col-form-label">글내용</label>
                    <div class="col-md-9" th:utext="${#strings.replace(detail.inqContent, newLine, '&lt;br /&gt;')}"></div>
                </div>

                <!-- 관리자 답변 폼 -->
                <form id="answerInsertForm">
                    <input type="hidden" name="ansNo" id="ansNo" value="0" />
                    <input type="hidden" name="admNo" id="admNo" value="1" />
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label for="answer" class="col-form-label">댓글내용</label>
                            <div class="d-flex align-items-center">
                                <textarea name="answer" id="answer" class="form-control me-2" rows="3"></textarea>
                                <button type="button" id="answerInsertBtn" class="btn btn-secondary">저장</button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr/>

                <!-- 답변 목록 -->
                <div id="answerInquiryList">
                    <div class="card-mb-2" id="item-template">
                        <h5 class="card-header">
                            <span class="name"></span>
                            <span class="cdate"></span>
                            <a href="#" class="btn btn-secondary btn-sm answerUpdateFormBtn">수정</a>
                            <a href="#" class="btn btn-secondary btn-sm answerDeleteBtn">삭제</a>
                   
                        </h5>
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

                <button type="button" id="answerCancelBtn" class="btn btn-primary btn-sm">글취소</button>
                <button type="button" id="answerInquiryListBtn" class="btn btn-primary btn-sm">완료</button>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/admin/inquiry/AnswerinquiryDetail.js"></script>
</body>
</html>
