<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
<head>
	<th:block th:insert="~{template/admin/fragments/adminNav :: config}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub 관리자</title>
    <link rel="stylesheet" href="/css/admin/mypage/adminProfile.css">
</head>
<body>
    <div class="wrapper">
        <!-- 왼쪽 네비게이션 (공통) -->
        <div class="mb-auto">
	        <th:block th:insert="~{template/admin/fragments/adminNav :: admin-nav}"></th:block>
	    </div>
	    
	    <div class="main-content">
	    	<div id="profile" style="text-align: center">
			    <h2>비밀번호 확인</h2>
			    <form id="checkPwdForm" method="post">
			        <input type="password" id="password" name="password" required
			        style="padding: 8px 20px;">
			        <button type="button" class="btn-second" id="checkPwdBtn">확 인</button>
			    </form>
		    </div>
		</div>
	</div>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/admin/mypage/checkPassword.js"></script> 
</body>
</html>
